<mat-card>
    <form
        (submit)="addBook(bookForm)"
        #bookForm="ngForm"
    >
        <mat-form-field>
            <input
                id="title"
                name="title"
                type="text"
                placeholder="The Man in the High Castle"
                matInput
                ngModel
                #title="ngModel"
                required
            />
        </mat-form-field>
        <mat-error *ngIf="title.invalid">
            Please, insert a valid title name
        </mat-error>
        <mat-form-field>
            <input
                id="author"
                name="author"
                type="text"
                placeholder="Philip K Dick"
                matInput
                ngModel
                #author="ngModel"
                required
            />
        </mat-form-field>
        <mat-error *ngIf="author.invalid">
            Please, insert a valid author name
        </mat-error>
        <mat-form-field>
            <input
                id="pages"
                name="pages"
                type="number"
                placeholder="237"
                matInput
                ngModel
                #pages="ngModel"
                required
            />
        </mat-form-field>
        <mat-error *ngIf="pages.invalid">
            Please, insert a valid page number
        </mat-error>
        <button
            color="primary"
            mat-raised-button
        >
            Add Book
        </button>
    </form>
</mat-card>
